

html {
	background-image:url("sky.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#person {
	background-color: yellow;
	font-style: bold;
}